#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.popup {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 99;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.9);
	/* Black w/ opacity */
}

/* popup Content (image) */
.popup-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of popup Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.popup-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

/* The tutup Button */
.tutup {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.tutup:hover,
.tutup:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.popup-content {
		width: 100%;
	}
}

.kotak {
	position: relative;
	background: #ffffff;
	width: 100%;
}

.kotak-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 10px;
}

.kotak-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.dropzone-wrapper {
	border: 2px dashed #91b0b3;
	color: #92b0b3;
	position: relative;
	height: 150px;
}

.dropzone-desc {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 40%;
	top: 50px;
	font-size: 16px;
}

.dropzone,
.dropzone:focus {
	position: absolute;
	outline: none !important;
	width: 100%;
	height: 150px;
	cursor: pointer;
	opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
	background: #ecf0f5;
}

.preview-zone {
	text-align: center;
}

.preview-zone .box {
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 0;
}

.card_pesanan {
	box-shadow: 0px 10px 40px 0px rgba(56, 74, 235, 0.1);
	border: 1px solid #eee;
	border-radius:30px;
	height: 100%;
	padding: 30px !important;
}

/* @media (min-width: 1000px) {
	.card_pesanan {
		padding-top: 115px;
		padding-bottom: 0;
	}
} */

.card_pesanan h3 {
	color: #222;
	font-size: 18px;
	/* margin-bottom: 75px; */
}
@media only screen and (max-width: 700px) {
	.card_pesanan h3 {
		text-align: left;
	}
}
.tombol_icon{ 
	color:#A80201
}
.tombol_icon:hover{
	cursor: pointer;
	color: #222;
}
.kapital{
	font-size: 12px;
	text-transform: uppercase;
	color: #A80201;
}
.kapital:hover{
	cursor: pointer;
	color: #222;
}

.tombol_alamat{
	font-size: 15px;
	text-transform: uppercase;
	color: #A80201;
}
.tombol_alamat:hover{
	cursor: pointer;
	color: #222;
}

.card_pesanan .login_form {
	max-width: 385px;
	margin: auto;
}

.card_pesanan.reg_form {
	padding-top: 60px;
}

.card_pesanan.reg_form h3 {
	margin-bottom: 70px;
}

.card_pesanan .show-password {
	float: right;
	transform: translateY(-100%);
	font-size: 20px;
	cursor: pointer;
}
.tombol {
	display: inline-block;
	border: 1px solid #A80201;
	border-radius: 30px;
	color: #222;
	font-weight: 500;
	padding: 12px 50px;
	background: #A80201;
	color: #fff;
	transition: all 0.4s ease;
	margin-bottom: 30px;
	margin-left: 10px;

}
.tombol:hover {
	border-color: #A80201;
	background: transparent;
	color: #222;
}
.tombol_lihat {
	float: right;
	font-size: 15px;
	padding: 7px 44px;
}
.s_product_text .card_area .tombol_status{
	position: relative;
	cursor: pointer;
	max-width: 7rem;
	width: 7rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background: #ffffff;
	border: 1px solid #A80201;
	border-radius: 30px;
	display: inline-block;
	color: #222;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 10px;
	z-index: 1;
}
.s_product_text .card_area .tombol_status:hover {
	background: #A80201;
	color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3);
}

.s_product_text .card_area .tombol_status.active {
	background: #A80201;
	color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3);
}

